#profileIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: right;
  margin-left: 10px;
}

#signOut {
  display: inline-block;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px #ccc solid;
  text-decoration: none;
  /* background-color: #ddd; */
}

#signOut:hover {
  background-color: #ccc;
}

.searchContainer {
  padding: 40px 10px;
}

.rotatingLogo > img {
  display: block;
  position: static;
  margin: 0 auto;
  width: 30%;
}

.rotatingLogo > img {
  -webkit-animation: spin 1.2s cubic-bezier(1, 0.05, 0.05, 1) infinite;
  -moz-animation: spin 1.2s cubic-bezier(1, 0.05, 0.05, 1) infinite;
  animation: spin 1.2s cubic-bezier(1, 0.05, 0.05, 1) infinite;
}

.rotatingLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
