main {
  text-align: center;
}

#profileIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: right;
  margin-left: 10px;
}

#signOut {
  display: inline-flex;
  padding: 5px;
  height: max-content;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  border-radius: 8px;
  border: 1px #ccc solid;
  text-decoration: none;
  transition: all 0.5s linear;
}

#signOut:hover {
  background-color: #ccc;
}

.searchContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  header > .searchContainer {
    margin-bottom: 20px;
  }
}

/***** Loader *****/

.rotatingLogo > img {
  display: block;
  position: static;
  margin: 0 auto;
  width: 30%;
}

.rotatingLogo > img {
  -webkit-animation: spin 1.2s cubic-bezier(1, 0.05, 0.05, 1) infinite;
  -moz-animation: spin 1.2s cubic-bezier(1, 0.05, 0.05, 1) infinite;
  animation: spin 1.2s cubic-bezier(1, 0.05, 0.05, 1) infinite;
}

.rotatingLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/***** Input Form *****/

.inputForm {
  background: #0000000d;
  display: flex;
  flex-direction: column;
  width: clamp(200px, 90%, 500px);
  padding: 10px;
  margin: auto;
  border: 2px solid var(--main-border-color);
  border-radius: 5px;
}

.inputForm > * {
  margin-bottom: 10px;
  height: 30px;
  transition: all 0.5s linear;
}

.inputForm > button:last-child {
  margin-bottom: 0px;
  background-color: #04aa6d;
  border: 0px;
  border-radius: 5px;
}

.inputForm > button:last-child:hover:not(:disabled) {
  cursor: pointer;
  background-color: #048a59;
}

.formGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  height: min-content;
}

.formGroup > * {
  transition: all 0.5s linear;
}

.formGroup > input {
  width: calc((100% / 2) - 40px);
}

.formGroup > button {
  /* border: 2px solid rgb(165, 165, 165);*/
  padding: 2px;
  border: 0;
  border-radius: 5px;
  background-color: #04aa6d;
}

.formGroup > button:hover:not(:disabled) {
  cursor: pointer;
  background-color: #048a59;
}

#locationPinButton {
  width: 25px;
}

#locationPinButton > img {
  width: 100%;
  height: 100%;
}

input {
  padding: 0px 8px;
  border: 2px solid rgb(165, 165, 165);
  border-radius: 5px;
  height: 30px;
}

input.invalidInput {
  border: 2px solid rgb(236, 73, 24);
}

/***** Alerter *****/

#alerter {
  position: sticky;
  bottom: 10px;
  width: clamp(200px, 90%, 500px);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  padding: 20px;
  color: white;
  border-radius: 5px;
}

.alert-error {
  background-color: #f44336;
}

.alert-success {
  background-color: #04aa6d;
}

.alert-info {
  background-color: #2196f3;
}

.alert-warning {
  background-color: #ff9800;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.hidden {
  display: none;
}

/***** Map Display *****/

.mapContainer {
  display: inline-flex;
  width: clamp(200px, 80%, 500px);
  flex-direction: column;
  height: fit-content;
  margin-top: 20px;
}

.mapContainer > #heatmapContainer > canvas {
  width: 100%;
  height: 100%;
}

.mapContainer > #heatmapContainer > img {
  width: 100%;
}

/***** Locations Container Display *****/

#locsContainer {
  width: clamp(200px, 90%, 500px);
  padding: 10px;
  margin: auto;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}

.list-group-item + .list-group-item {
  border-top-width: 0;
}

.list-group-item.disabled,
.list-group-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}

.list-group > button:not(:disabled) {
  cursor: pointer;
}

/***** Firestore Management Panel *****/
#firestoreManagement {
  margin: 10px;
}

#firestoreDownload {
  padding: 10px;
  background-color: cornflowerblue;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.49);
  cursor: pointer;
  transition: all 0.5s linear;
}

#firestoreDownload:hover {
  background-color: rgb(26, 99, 235);
}
