#profileIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: right;
  margin-left: 10px;
}

#signOut {
  display: inline-block;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px #ccc solid;
  text-decoration: none;
  /* background-color: #ddd; */
}

#signOut:hover {
  background-color: #ccc;
}

.searchContainer {
  padding: 40px 10px;
}

.rotatingLogo > img {
  display: block;
  position: static;
  margin: 0 auto;
  width: 30%;
}

.rotatingLogo > img {
  -webkit-animation: spin 1.2s cubic-bezier(1, 0.05, 0.05, 1) infinite;
  -moz-animation: spin 1.2s cubic-bezier(1, 0.05, 0.05, 1) infinite;
  animation: spin 1.2s cubic-bezier(1, 0.05, 0.05, 1) infinite;
}

.rotatingLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputForm {
  background: var(--card-bg-color);
  display: flex;
  flex-direction: column;
  width: clamp(200px, 90%, 500px);
  padding: 10px;
  margin: auto;
  border: 1px solid var(--main-border-color);
}

.inputForm > * {
  margin-bottom: 10px;
  height: 30px;
}

.inputForm > :last-child {
  margin-bottom: 0px;
}

.formGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  height: min-content;
}

.formGroup > input {
  width: calc((100% / 2) - 40px);
}

#locationPinButton {
  width: 25px;
  height: 100%;
  padding: 0;
}

#locationPinButton > img {
  width: 100%;
  height: 100%;
}

input {
  padding: 0px 8px;
  border: 2px solid rgb(165, 165, 165);
  border-radius: 5px;
  height: 30px;
}

input.invalidInput {
  border: 2px solid rgb(236, 73, 24);
}
