:root {
  --main-bg-color: #eceff1;
  --main-txt-color: rgba(0, 0, 0, 0.87);
  --main-border-color: rgba(190, 190, 190, 0.925);
  --card-bg-color: #dad8d8;
  --card-bg-color-hover: #c0c0c0;
  --footer-size: 40px;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  z-index: 0;
}

*::-webkit-scrollbar-thumb {
  background: #888;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html {
  height: 100%;
  margin: 0;
}

body {
  background: var(--main-bg-color);
  color: var(--main-txt-color);
  font-family: Asap, Roboto, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 120px;
}

/* header > .logoContainer {
  background: red;
}

header > .titleContainer {
  background: green;
}

header > .searchContainer {
  background: blue;
} */

header > .logoContainer,
header > .titleContainer,
header > .searchContainer {
  flex: 1 0 auto; /* grow,shrink,basis */
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  text-align: center;
}

h1 {
  font-size: 3em;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgba(20, 113, 175, 0.87);
}

a:hover {
  color: rgba(98, 155, 194, 0.87);
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    height: 200px;
  }

  header > .logoContainer {
    display: none;
  }

  header > .titleContainer > h1 {
    font-size: 2em;
  }

  header > .searchContainer {
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  header {
    flex-direction: column;
    height: 200px;
  }

  header > .logoContainer {
    display: none;
  }

  header > .titleContainer > h1 {
    font-size: 2em;
  }

  header > .searchContainer {
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  header {
    flex-direction: row;
    height: 120px;
  }

  header > .logoContainer {
    display: block;
    flex-basis: 15%;
  }

  header > .titleContainer > h1 {
    font-size: 3em;
    flex-basis: 70%;
  }

  header > .searchContainer {
    text-align: right;
    flex-basis: 15%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1500px) {
}

.rotatingLogo {
  position: relative;
  display: block;
  height: 100%;
  max-width: 100%;
}

.rotatingLogo > img {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 80%;
  max-width: 100%;
  margin: -60px 0 0 -50%;
}

.rotatingLogo:not(:hover) > img:nth-child(n + 2) {
  display: none;
}

.rotatingLogo:hover > img {
  -webkit-animation: spin 1.2s cubic-bezier(1, 0.05, 0.05, 1) infinite;
  -moz-animation: spin 1.2s cubic-bezier(1, 0.05, 0.05, 1) infinite;
  animation: spin 1.2s cubic-bezier(1, 0.05, 0.05, 1) infinite;
}

.rotatingLogo > img:nth-child(2) {
  animation-delay: 25ms;
  opacity: 0.8;
}

.rotatingLogo > img:nth-child(3) {
  animation-delay: 50ms;
  opacity: 0.5;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.grayHover {
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%);
  filter: gray;
  transition: 1s;
}

.grayHover:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  filter: none;
}

.logoLinkArea {
  display: block;
  margin-left: 10px;
  width: 80px;
  height: 100%;
}

footer > a {
  display: inline-block;
  margin: 0;
  padding: 0;
}

footer > a > img {
  height: var(--footer-size);
  margin: 0 5px;
}
